<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="QueryOS" value="select * from Win32_OperatingSystem" />
    <add key="QueryGPU" value="select * from Win32_VideoController" />
    <add key="QueryCPU" value="select * from Win32_Processor" />

    <add key="Uri" value="https://localhost:44371/" />
  </appSettings>
</configuration>